.property-details-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: left;
}

.property-details-card h1 {
  margin-top: 10px;
  text-align: center;
}

.property-details-card h2 {
  margin: 10px auto;
}

.property-details-card h4 {
  margin: 10px auto;
  font-weight: 500;
}

.property-details-card p {
  margin: 5px 0;
}

.property-details-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 0px;
}

.modal-content input:focus {
  border-color: var(--brand-box-shadow);
  outline: none;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.cta-buttons {
  margin-top: 20px;
  text-align: center;
}
